{% extends "telesoft/header.html" %}
{% load staticfiles %}
{% block content %}
 <h2 class="projects-section-header">TELESOFT COMPANY</h2>
 <div class="projects-grid">
  <a href="#" target="_blank" class="project project-tile">
    <img class="project-image" src="{% static 'telesoft/images/x.png' %}" />
   <p class="project-title">
     <span class="code">&lt;</span>
     Graphics
     <span class="code">&#47;&gt;</span>
   </p>
  </a>
  <a href="#" target="_blank" class="project project-tile">
   <img class="project-image" src="{% static 'telesoft/images/sm.png' %}" />
   <p class="project-title">
     <span class="code">&lt;</span>
     Software Makers
     <span class="code">&#47;&gt;</span>
   </p>
  </a>
  <a href="#" target="_blank" class="project project-tile">
   <img class="project-image" src="{% static 'telesoft/images/g.png' %}" />
   <p class="project-title">
     <span class="code">&lt;</span>
     Games
     <span class="code">&#47;&gt;</span>
   </p>
  </a>
  <a href="#" target="_blank" class="project project-tile">
   <img class="project-image" src="{% static 'telesoft/images/w.png' %}" />
   <p class="project-title">
     <span class="code">&lt;</span>
     Websites
     <span class="code">&#47;&gt;</span>
   </p>
  </a>
  <a href="#" target="_blank" class="project project-tile">
   <img class="project-image" src="{% static 'telesoft/images/i.png' %}" />
   <p class="project-title">
     <span class="code">&lt;</span>
     Inventions
     <span class="code">&#47;&gt;</span>
     </p>
  </a>
  <a href="#" target="_blank" class="project project-tile">
    <img class="project-image" src="{% static 'telesoft/images/hr.png' %}" />
    <p class="project-title">
     <span class="code">&lt;</span>
      Hardware Repairs
     <span class="code">&#47;&gt;</span>
    </p>
  </a>
  </div>
  <a href="#" class="btn btn-show-all" target="_blank">Others <i class="fas fa-chevron-right"></i
  ></a>

{% endblock %}